@import url('https://fonts.googleapis.com/css2?family= Poppins: wght @400;700 & display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*   --cor-principal: ;*/

}

/* HEADER */

.container {
    display: flex;
    background-color: #B62323;
}

.title {
    font-family: var(--fonte-principal);
    font-size: 2em;
    font-variant: small-caps;
    color: white;
    background-color: #B62323;
    text-align: center;
    flex: 1 0 50%;

}

.title a:active {
    color: #D9CE3F;
}

.button__container {
    margin: 14px;
}

.button__container a {
    background-color: #D9CE3F;
    box-shadow: 0px 1px 0px 0px #5b6178;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.button__container a:hover {
    background-color: #D9CE3F;
}

.button__container a:active {
    position: relative;
    top: 1px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2em;
}

.subtitulo {
    margin-bottom: 2em;

}

a:link {
    text-decoration: none;
}

ul {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #B62323;
    color: white;
}

ul a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

ul a:hover {
    color: #D9CE3F;
    border-bottom: 1px solid #D9CE3F;
}

ul a:active {
    border-bottom: 3px solid black;
}

/* PRODUCT CATALOG */

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    width: 200px;
    border-radius: 5px;
    margin: 1em;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-item:hover {
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);

}

.card-item img {

    border-radius: 15px;
    width: 100%;
    max-height: 180px;
}


.cards button:hover {
    background-color: #D9CE3F;
}

.card-content {
    text-align: center;
    padding-bottom: 5px
}

.card-content button {
    border: none;
    padding: 8px;
    background-color: #B62323;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;


}

.card-content h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* PAGINA LOGIN */

.container2-3 {
    display: flex;
}

.container2,
.container3 {
    width: 50%;
    margin: 0 auto;
}

.container2 h1,
.container3 h1 {
    margin: 14px 0;
}

.form-cadastro {
    width: 100%;
    font-family: "Arial", Times, serif;
}

.form-cadastro-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-cadastro-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #B22222;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
}

.form-cadastro-button:hover {
    opacity: 1;
}