@import url('https://fonts.googleapis.com/css2?family= Poppins: wght @400;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    
}

:root {
    --fonte-principal: 'Poppins';
    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2em;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 70px;
    font-variant: small-caps;
    color: white;
    background-color: #B62323;
    text-align: center;     
}

.subtitulo {
    margin-bottom: 2em;

}

a:link {
    text-decoration: none;
}

ul {
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #B62323;
    color: white;
}

ul a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

ul a:hover {
    border-bottom: 3px solid white;
}

ul a:active {
    border-bottom: 3px solid red;
}

 /* PRODUCT CATALOG */

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    width: 200px;
    border-radius: 5zpx;
    margin: 1em;
    padding: 10px;
}

.card-item:hover {
    box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.1);

}

.card-item img {
    
    border-radius: 15px;
    width: 100%;
    max-height: 180px;
}

.cards button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #B62323;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.cards button:hover {
    opacity: 0.7;
}

.card-content {
    text-align: center;
}

.card-content button {
    border-radius: 10px;
    width: 100%;
 }